<h1>{{'demo.title' | translate}}</h1>
<div>
  <a routerLink="/routed">And this is a link to  a routed page</a> <br />
  <a routerLink="/routed/awesome">And this a link with a parametrized route</a>
</div>
<div>
  Your environment is {{envName}}
</div>
<div>
  some bootstrap buttons
  <div class="btn-group" role="group" aria-label="...">
    <button type="button" class="btn btn-default">Left</button>
    <button type="button" class="btn btn-default">Middle</button>
    <button type="button" class="btn btn-default">Right</button>
  </div>
</div>
